body {
    margin: 0;
    padding: 0;
}

.cover-image {
    width: 90%;
    height: 90vh;
    position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #333;
}

h1 {
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Adjust as needed */
}

nav a {
    text-decoration: none;
    color: #fff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #3a73bf;
}

.feature {
    margin-bottom: 20px;
}

.feature img {
    width: 90%;
    height: auto;
}

#about {
    padding: 20px; /* Adjust as needed */
}

#about p {
    margin-bottom: 20px; /* Adjust as needed */
}

#about ul {
    list-style: none;
    padding: 0;
}

#about ul li {
    margin-bottom: 10px; /* Adjust as needed */
}

#about a {
    text-decoration: none;
    color: #4285f4;
}

#about a:hover {
    text-decoration: underline;
}
